body{
  font-family: cursive;
  text-align: left;
  background-color: #cce0ff;
  background-image: url("imagens/segredosled-magic.jpg");
}

h1{
  border: 2px solid #1a1a1a;
  border-color:#1a1a1a;
  border-radius: 10px;
  color: #1a0000;
  border: thin; 
}

.userInput{
  width: 270px;
  height: 200px;
  resize: none;
  background-color: #cce0ff;
  text-align: center;
  border-radius: 15px;
  border-color: #f90;
}

/* #offset{
  width: 50px;
  background-color: #cce0ff;
  text-align: center;
  border: 1px solid #f90;
  border-radius: 5px;
} */

.buttons{
  border: 1px solid #f90;
  border-radius: 5px;
  font-weight: bold;
  color:  #1a0000;
  margin-left:30px;
}

.buttons:hover{
  color: #0066cc;
  background-color: #FFFFFF;
  border-radius: 10px 0px 10px 0px;
}

#homepage{
  color: #1a0000; 
}

#FinalMessage, #FinalMessage2{
  display: none;
  padding-left: 2.0em;
}

.container{
  display: flex;
  justify-content: center;
}