@import url('https://fonts.googleapis.com/css?family=Indie+Flower&display=swap');

body{
  background-color: #cce0ff;
  color: rgb(255, 113, 113);
  font-family: 'Indie Flower', cursive;
}

.header-logo {
  font-size: 70px;
  display: flex;
  justify-content: center;
}

.text-area{
  width: 270px;
  height: 200px;
  resize: none;
  background-color: #cce0ff;
  border-radius: 15px;
  margin: 0 20px;
}

.offset{
  height: 20px;
  width: 50px;
  background-color: #cce0ff;
  border-radius: 7px;
}

.buttons{
  border-radius: 5px;
  width: 110px;
  height: 42px;
  background-color: #3e95ec;
  color: #cce0ff;
  border-radius: 8px;
  font-weight: bold;
} 

.buttons:hover{
  cursor: pointer;
}

.align-center{
  display: flex;
  justify-content: center;
}

.text-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.wrap{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}