
body{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    background-color: #cce0ff;
}

h1{
  border-width: short;
  border: 2px solid #1a1a1a;
  border-color:#1a1a1a;
  border-radius: 10px;
  color: #f90;
  border: thin;
}

P{
    font-weight: bold;
    color: #f90;
}

textarea{
    width: 350px;
    height: 220px;
    resize: none;
    background-color: #cce0ff;
    text-align: center;
    border-radius: 15px;
    border-color: #f90;
}

#offset{
    width: 50px;
    background-color: #cce0ff;
    text-align: center;
    border: 1px solid #f90;
    border-radius: 5px;
}

.buttons{
    border: 1px solid #f90;
    border-radius: 5px;
    font-weight: bold;
    color: #0066cc;
}

#homepage{
display: block;
color: #f90;
}

#FinalMessage{
display: none;
}

#FinalMessage2{
display: none;
}

