
body{
    font-family: sans-serif;
    text-align: center;
    background-color: #cce0ff;
    
}

h1{
  border-width: short;
  border: 2px solid #1a1a1a;
  border-color:#1a1a1a;
  border-radius: 10px;
  color: #1a1a1a;
  border: thin;
  text-decoration: underline;
}

P{
    font-weight: bold;
}

a{
    text-decoration: none;
    color: inherit;
}



textarea{
    width: 500px;
    height: 100px;
    resize: none;
    background-color: #cce0ff;
    text-align: center;
    order: 3px #1a1a1a;
    border: 2px solid #1a1a1a;
    border-radius: 15px;
}

#offset{
    width: 50px;
    background-color: #cce0ff;
    text-align: center;
    border: 2px solid #1a1a1a;
    border-radius: 5px;
}

hr{
 border-color: #1a1a1a;    
}

.buttons{
    border: 2px solid #1a1a1a;
    border-radius: 5px;
    font-weight: bold;
}

#homepage{
display: block;
}

#FinalMessage{
display: none;
}

#FinalMessage2{
display: none;
}

